# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments (anywhere)
venv/
.venv/
env/

# Environment variables
.env

# =========================
# Node.js
# =========================
node_modules/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Outputs / temp
# =========================
outputs/
